<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Convert Me!</title>
        <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css"/>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <div id="app">
            <h1>Metric Converter</h1>
            
            <div>
                <button @click="category='temperature'">temperature</button>
                <button @click="category='weight'">weight</button>
                <button @click="category='length'">length</button>
                <button @click="category='volume'">volume</button>

                <p>category: {{category}}</p>
                <p>How much is </p>

                <!-- temperature ----------------------------------------------------------------------->
                <div v-if="category === 'temperature'">
                    <input v-model="inputAmount" type="number">

                    <select v-model="inputUnit">
                        <option v-for="item in Object.keys(temperature)" :key="item">{{item}}</option>
                    </select>
                    <p>in</p>
                    <select v-model="outputUnit">
                        <option v-for="item in Object.keys(temperature)" :key="item">{{item}}</option>
                    </select>
                </div>

                <!-- length ---------------------------------------------------------------------------->
                <div v-if="category === 'length'">
                    <input v-model="inputAmount" type="number">

                    <select v-model="inputUnit">
                        <option v-for="item in Object.keys(length)" :key="item">{{item}}</option>
                    </select>
                    <p>in</p>
                    <select v-model="outputUnit">
                        <option v-for="item in Object.keys(length)" :key="item">{{item}}</option>
                    </select>
                </div>

                <!-- weight ---------------------------------------------------------------------------->
                <div v-if="category === 'weight'">
                    <input v-model="inputAmount" type="number">

                    <select v-model="inputUnit">
                        <option v-for="item in Object.keys(weight)" :value="item" :key="item">{{item}}</option>
                    </select>
                    <p>in</p>
                    <select v-model="outputUnit">
                        <option v-for="item in Object.keys(weight)" :value="item" :key="item">{{item}}</option>
                    </select>
                </div>

                <!-- volume ---------------------------------------------------------------------------->
                <div v-if="category === 'volume'">

                    <input v-model="inputAmount" type="number">

                    <select v-model="inputUnit">
                        <option v-for="item in Object.keys(volume)" :key="item">{{item}}</option>
                    </select>
                    <p>in</p>
                    <select v-model="outputUnit">
                        <option v-for="item in Object.keys(volume)" :key="item">{{item}}</option>
                    </select>
                </div>

                
                <!-- <input v-model="inputAmount" type="number">
                <select>
                    <option v-for="item in Object.keys(category)">{{item}}</option>

                </select> -->

            </div>
            
        </div>

        <script src="https://unpkg.com/vue@3"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


        <script src="site.js"></script>
    </body>
</html>