<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Convert Me!</title>
        <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css"/>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <div id="app">
            <main class="color-container" :style="{ backgroundColor : categoryColor }">
                <div id="button-container">

                    <div class="mini-btn-container" id="btn-container1">
                        <button class="button" :class="{'active-button': clickedCategory.tempActive}" id="temp-button" @click="category='temperature'; clickedValues(); categoryColor='rgb(162, 43, 127)'">temp</button>
                        <button class="button" :class="{'active-button': clickedCategory.weightActive}" id="weight-button" @click="category='weight'; clickedValues(); categoryColor='rgb(82, 111, 82)'">weight</button>
                    </div>
                    <div class="mini-btn-container" id="btn-container2">
                        <button class="button" :class="{'active-button': clickedCategory.lengthActive}" id="length-button" type="button" @click="category='length'; clickedValues(); categoryColor='rgb(57, 57, 88)'">length</button>
                        <button class="button" :class="{'active-button': clickedCategory.volActive}" id="volume-button" @click="category='volume'; clickedValues(); categoryColor='rgb(99, 54, 99)'">volume</button>
                    </div>
                </div>

                <div id="conversion-container">
                    
    
                    <!-- temperature ----------------------------------------------------------------------->
                    <div id="temperature" class="category" v-if="category === 'temperature'">
                        <input class="input-amount" name="temp-amount" v-model="inputAmount" type="number" onfocus="this.select()">
                        
                        <select v-model="inputUnit" name="input-unit">
                            <option v-for="item in Object.keys(temperature)" :key="item">{{item}}</option>
                        </select>
                        
                        
                        <p>is {{ converted }}</p>
                        <select v-model="outputUnit" name="output-unit">
                            <option v-for="item in Object.keys(temperature)" :key="item">{{item}}</option>
                        </select>
                    </div>
    
                    <!-- length ---------------------------------------------------------------------------->
                    <div id="length" class="category" v-if="category === 'length'">
                        <input class="input-amount" v-model="inputAmount" name="length-amount" type="number" onfocus="this.select()">
                        
                        <select v-model="inputUnit" name="input-unit">
                            <option v-for="item in Object.keys(length)" :key="item">{{item}}</option>
                        </select>
                        
                        
                        <p>is {{ converted }}</p>

                        <select v-model="outputUnit" name="output-unit">
                            <option v-for="item in Object.keys(length)" :key="item">{{item}}</option>
                        </select>
                    </div>
    
                    <!-- weight ---------------------------------------------------------------------------->
                    <div id="weight" class="category" v-if="category === 'weight'">
                        <input class="input-amount" v-model="inputAmount" name="weight-amount" type="number" onfocus="this.select()">
                        
                        <select v-model="inputUnit" name="input-unit">
                            <option v-for="item in Object.keys(weight)" :value="item" :key="item">{{item}}</option>
                        </select>
                        
                        <p>is {{ converted }}</p>

                        <select v-model="outputUnit" name="output-unit">
                            <option v-for="item in Object.keys(weight)" :value="item" :key="item">{{item}}</option>
                        </select>
                    </div>
    
                    <!-- volume ---------------------------------------------------------------------------->
                    <div id="volume" class="category" v-if="category === 'volume'">
    
                        <input class="input-amount" v-model="inputAmount" name="volume-amount" type="number" onfocus="this.select()">
                        
                        <select v-model="inputUnit" name="input-unit">
                            <option v-for="item in Object.keys(volume)" :key="item">{{item}}</option>
                        </select>
                        
                        
                        <p>is {{ converted }}</p>

                        <select v-model="outputUnit" name="output-unit">
                            <option v-for="item in Object.keys(volume)" :key="item">{{item}}</option>
                        </select>
                    </div>
                    
                    <!-- <input v-model="inputAmount" type="number">
                    <select>
                        <option v-for="item in Object.keys(category)">{{item}}</option>
                    </select> -->
                </div>


            </main>
            
            
        </div>

        <script src="https://unpkg.com/vue@3"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


        <script src="site.js"></script>
    </body>
</html>