/* Chrome, Safari, Edge, Opera hide arrow buttons*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox hide arrow buttons*/
input[type=number] {
  appearance: textfield;
}

body {
  height: 100vh;
  color: rgb(209, 208, 208);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}

select {
  display: block;
}


.color-container {
  min-height: 100vh;
  padding: 25px;
}

.input-amount {
  color: rgb(209, 208, 208);
  background-color: transparent;
  border: none;
  border-bottom: 3px solid gray;
}

.button {
  color: rgb(209, 208, 208);
  background-color: transparent;
  border: none;

}

.button:focus {
  font-weight: bold;
  color: gray;
}

input:focus {
  outline: none;
}

#app {
  min-height: 100vh;
}

#button-container {
  margin-bottom: 10px;
}
