/* ------mobile------- */

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  color: rgb(209, 208, 208);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: black;
  font-size: 16px;
  /* overflow-x: hidden;
  overflow-y: hidden; */
}

/* Chrome, Safari, Edge, Opera hide arrow buttons*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox hide arrow buttons*/
input[type=number] {
  appearance: textfield;
  -webkit-appearance: none;
}

input:focus {
  outline: none;
}

select {
  display: block;
  width: 200px;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.input-amount {
  color: rgb(209, 208, 208);
  background-color: transparent;
  border: none;
  border-bottom: 3px solid gray;
  border-radius: 0;
}

.mini-btn-container {
  display: flex;
  /* height: 33vh; */
  /* border: 2px solid red; */
  flex-wrap: wrap;
  flex-grow: 1;
}

.button {
  color: rgb(209, 208, 208);
  background-color: transparent;
  border: 1px solid rgb(209, 208, 208);
  /* height: 50%; */
  min-width: 3.5em;
  min-height: 3em;
  flex-grow: 1;
  margin: .5em;
  font-size: 2em;
  
}

.active-button {
  font-weight: bold;
  color: gray;
}

.button:hover {
  background-color: black;
}

#app {
  height: 100%;
  padding: 0;
  margin: 0;
}

#button-container {
  /* margin-bottom: 10px; */
  margin: 1em 1em 0 1em;
  display: flex;
  /* border: 2px solid red; */
  flex-wrap: wrap;
}

#conversion-container {
  margin: 2em;

}